!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %title Product Box
    %link{:href => "stylesheets/style.css", :rel => "stylesheet"}
  %body
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
    %script{:src => "js/bootstrap.min.js"}
    .product
      .product__top
        .product__top__comment
          %img{:src => "images/logo.png"}
          %h2 WEB SERVICE iOS APPLICATION PRODUCTS BOX
        .product__top__background
        .product__top__center
      .product__menu
        %h2 Welcome to Product box!
        .product__menu__regist
          %img{:src => "images/icn_arrowright.png"}
          %p REGIST YOUR PRODUCT
        .product__menu__buttons
          %h4 TRYING TO FIND A NEW PRODUCT OUT OF THE BOX
          .product__menu__buttons--box
            %h5 FIND BY
            .product__menu__buttons__line
              .product__menu__buttons__line--yellow
                A NEW ORDER
              .product__menu__buttons__line--white
                POPULAR
              .product__menu__buttons__line--white
                CATEGORY
      .product__order
        %h2.product__order--yellow A NEW ORDER
        %h2.product__order--white A NEW ORDER
        .product__order__column.row
          .col-xs-3
            %img.product__order__column-piece{:src => "images/img_product1.png"}
          .col-xs-3
            %img.product__order__column-piece{:src => "images/img_product2.png"}
          .col-xs-3
            %img.product__order__column-piece{:src => "images/img_product3.png"}
          .col-xs-3
            %img.product__order__column-piece{:src => "images/img_product4.png"}
        .product__order__column.product__order__column--height.row
          .col-xs-3
            %img.product__order__column-piece{:src => "images/img_product5.png"}
          .col-xs-3
            %img.product__order__column-piece{:src => "images/img_product6.png"}
          .col-xs-3
            %img.product__order__column-piece{:src => "images/img_product7.png"}
          .col-xs-3
            %img.product__order__column-piece{:src => "images/img_product8.png"}
        .product__order__more
          %button MORE
      .product__regist
        %h2 LET'S REGISTER YOUR PRODUCT
        %button MORE REGIST YOUR PRODUCT
        %img{:src => "images/logo.png"}
      %footer
        .footer__menu
          %a{:href => ""} PRODUCT LISTS
          %span |
          %a{:href => ""} A NEW ORDER
          %span |
          %a{:href => ""} POPULAR
          %span |
          %a{:href => ""} CATEGORY
          %span |
          %a{:href => ""} REGIST YOUR PRODUCT


